{{> header}}

<br>
<form method="POST" action="/addGeneExp">
 <label for="GID">Protein ID: </label>
  <select name="GID">
    {{#pDataSet.proteinIds}}
      <option value="{{proteinName}}" name="GID" >{{proteinName}}</option>
    {{/pDataSet.proteinIds}}
  </select>  
  <div class="form-inline">
    <label for="Protein">Sample Name</label>
    <input type="text" class="form-control" id="SID" name="SID">
  </div>
  <div class="form-inline">
    <label for="Protein">Add Gene Expression</label>
    <input type="number" step="any" class="form-control" id="ExpreVal" name="ExpreVal">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<br>

<table id="expression" name="expression" style="border:  1px solid black">
    <thead>
      <th>ProteinID</th>
      <th>Annotation</th>
      <th>Sample Info</th>
      <th>Expression</th>
    </thead>
    <tbody id="Interactome_body" style="border:  1px solid black">
      {{#eDataSet.List}}
      {{!-- {{#each data.Interactome}} --}}
      <tr>
          <td id="id" style="display:none;">{{id}} </td>
          <td id="Pid">{{ProteinID}}</td>
          <td id="annotation">{{Annotation}}</td>
          <td id="sample_info">{{Sample_info}}</td>
          <td id="expression">{{Expression}}</td>
          <td id="delete"> <input type="button" value="delete" onclick="deleteEprex({{id}})" /></td>
          <td id="edit"> <input type="button" value="edit" onClick="modifyRow(this)"/></td>
      </tr>
      {{/eDataSet.List}}
    </tbody>
</table>
<br>
<input type="text" id="search" placeholder="  live search"></input>