{{> header}}
{{!-- 
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="/images/corn.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/images/corn2.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/images/fungus.jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> --}}



<form method="POST" action="/addOrtho" id="orthoData"> 
  <div class="form-inline">
    <label for="ProteinID">ProteinId A: </label>
    <input type="text" class="form-control" id="Input_ProteinIDA" name="Input_ProteinIDA">
  </div>
  <div class="form-inline">
    <label for="ProteinID">NCBI_GeneID: </label>
    <input type="text" class="form-control" id="In_GeneID" name="In_GeneID">
  </div>
  <div class="form-inline">
    <label for="ProteinID">Annotation Protein A: </label>
    <input type="text" class="form-control" id="Ann_ProteinIDA" name="Ann_ProteinIDA">
  </div>
{{!--   <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Organism Selection:
      </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          {{#each someData}}
          <button class="dropdown-item" type="button" id="Organism">{{this}}</button>
          {{/each}} 
        </div>
  </div> --}}
  <select name="Organism">
    {{#each someData}}
      <option value="{{this}}">{{this}}</option>
    {{/each}}
  </select>
  <div class="form-inline">
    <label for="ProteinID">ProteinId B: </label>
    <input type="text" class="form-control" id="Input_ProteinIDB" name="Input_ProteinIDB">
  </div>
  <div class="form-inline">
    <label for="ProteinID">Experimental Condition: </label>
    <input type="text" class="form-control" id="Exp_Val" name="Exp_Val">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


<br>
<form method="POST" action="/addGeneExp"> 
  <div class="form-inline">
    <label for="ProteinID">ProteinId:</label>
    <input type="text" class="form-control" id="GID" name="GID">
  </div>
  <div class="form-inline">
    <label for="Protein">Sample Name</label>
    <input type="text" class="form-control" id="SID" name="SID">
  </div>
  <div class="form-inline">
    <label for="Protein">Add Gene Expression</label>
    <input type="number" step="any" class="form-control" id="ExpreVal" name="ExpreVal">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


<br>
<table id="Interactome" style="border:  1px solid black">
    <thead>
      <th>ProteinID_A</th>
      <th>ProteinID_B</th>
      <th>Annotation_A</th>
      <th>Organism</th>
    </thead>
    <tbody id="Interactome_body" style="border:  1px solid black">
      {{#data.inters}}
      {{!-- {{#each data.Interactome}} --}}
      <tr>
          <td id="id" style="display:none;">{{id}} </td>
          <td id="P_ida">{{ProteinID_A}}</td>
          <td id="P_idb">{{ProteinID_B}}</td>
          <td id="PA_anno">{{PA_annotation}}</td>
          <td id="Organism">{{Organism}}</td>
          <td id="delete"> <input type="button" value="delete" onclick="deleteInteraction(this)" /></td>
          <td id="edit"> <input type="button" value="edit" onClick="modifyRow(this)"/></td>
      </tr>
      {{/data.inters}}
    </tbody>
</table>

<br>





<p>Add something to visualize the rna-seq info page</p>



<p>Welcome to the demo website for CS340</p>
<br>
<p>Developed by: Bryan Musungu</p>